#volume-slider {
    height: 100%;
    width: 3px;
    background: $cobe-dark;
    margin: 0 auto;
    display: block;
    position: relative
  }
  
  #volume-slider-handle {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    background: $cobe-dark;
    border-radius: 50%;
    z-index: 100; 
    transform: translate(-50%,-50%)
  }

  #volume-text-display {
    position: absolute;
    left: 0; 
    top: 0;
    transform: translate(-140%, 10%);
    opacity: 0; 
    transition: opacity 0.2s ease-out
  }

  #volume-slider-container:hover {
      #volume-text-display {
        opacity: 1
      }
  }