#user-info-container {
    display: block;
    position: fixed;
    top: 4px;
    left: 4px;
    width: 260px;
    height: 72px;
    background: transparent;
    padding: 6px;
}

#user-info-image {
    float: left;
    width: 30%;
    height: 100%;
    max-width: 60px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

#user-info-text {
    text-align: left;
    padding-top: 4px;
    padding-left: 10px;
    float: left;
    width: 70%;
    height: 100%;
}

#user-info-product-type {
    text-transform: capitalize;
    padding: 2px 4px;
    border: 1px solid $cobe-dark;
    border-radius: 4px;
}

@media only screen and (max-width: 680px) {
    #user-info-image {
        width: 48px;
        height: 48px;
    }
}