.hero-menu {
    position: fixed;
    top: 0;
    right: 0;
    transition: transform .4s ease-out;
    width: 100%;
    background: white;
    z-index: 900;
    transform: translateX(100%)
}

.opened-menu {
    transform: translateX(0%);
}