* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
  }
  
  html {
    background-color: $cobe-light;
    color: $cobe-darker;
    font-family: $main-font;
    height: 100%;
  }
  
  h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 14px
  }
  
  body, #main {
    height: 100%;
  }

  #main {
    position: relative;
    min-height: 100%;
  }

  #main-inner {
    height: 100%
  }
  
  .pointer {
    cursor: pointer
  }

  .menu-opener {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 20;
  }

  .menu-opener {
    img {
      height: 100%;
      width: 100%;
    }
  }
  
  .hero {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
  }
  
  .hero-item {
    width: auto;
    text-align: center;
    position: relative
  }

.red-button {
    background-color: $cobe-red;
    color: $cobe-light;
    border: none;
    height: 40px;
    margin: 8px 0;
    padding: 4px;
    width: 400px;
    max-width: calc(100vw - 18px);
    cursor: pointer
  }

  .red-button:focus, .red-button:active {
    outline: none;
    border: none;
  }

  .red-button:active {
    transform: translateY(1px);
  }

  .smaller-button {
    width: 120px;
  }
  
  .round-icon {
    width: 480px;
    height: 240px;
    max-height: 50%;
    max-width: 50%;
    background-color: white;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  
  .round-icon {
    img {
      height: 100%;
      width: 60%
    }  
  }
  
  .small-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    padding: 2px;
    background: white
  }

  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

@media only screen and (max-width: 680px) {
  .round-icon {
    width: 240px;
    height: 120px;
  }

  h1 {
    font-size: 0.9em;
  }

  p {
    font-size: 0.6em;
  }  
}