.large-hero {
    height: 80%;
    width: 100%
  }
  
  .abs-pos-hero {
    position: absolute
  }
  
  .left-side-hero {
    width: 40%;
    left: 0;
  }
  
  .middle-side-hero {
    left: 40%;
    width: 50%;
  }
  
  .right-side-hero {
    left: 90%;
    width: 10%;
    padding: 18px 0
  }

  @media only screen and (max-width: 680px) {
    .left-side-hero {
      left: 0;
      top: 0;
      height: 50%;
      width: 90%;

      .hero-item {
        position: absolute;
        bottom: 10px;
      }
    }

    .middle-side-hero {
      left: 0;
      top: 50%;
      height: 50%;      
      width: 90%;

      .hero-item {
        position: absolute;
        top: 10px;
      }          
    }
}